<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %highlight(%-5level){FATAL=red, ERROR=boldRed, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue} %magenta(%logger{36}) - %yellow(%msg)
            </pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>